{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'store/images/22.jpg' %}');"
     xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home:index' %}">Home</a></span> <span>FAQ</span></p>
            <h1 class="mb-0 bread">FAQ</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <img src="{% static 'store/images/about1.jpg'%}" alt="About Image" style="height: 87%;">
</div>

					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h4 class="mb-4">Frequently Asked Questions about Delivery</h4>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p><h5> How do I place an order for delivery?</h5>
                      <p>You can place an order for Italian food delivery on our website. Simply choose dishes from our menu, add them to your cart,
                      and proceed to checkout. Fill in the necessary information, select a convenient delivery time, and then confirm your order.
                      We will be happy to deliver your Italian food right to your door.</p>

                  <p><h5>What payment methods do you accept?</h5>
                      <p>We accept various payment methods to make the ordering process as convenient as possible for you. You can pay for your order
                      online using credit or debit cards, as well as through payment systems such as PayPal or Apple Pay. Additionally, we also accept
                      cash payment upon delivery.</p>

                  <p><h5>What should I do if I want to modify or cancel my order?</h5>
                      <p>If you wish to modify or cancel your order, please contact our customer support as soon as possible. We will do our best to
                      accommodate your request. Please note that if your order is already being prepared or in transit, we may limit the ability to
                      make changes or cancellations.</p>

                <p>If you have any other questions, please contact our customer support. We are always ready to assist you and make your
                   culinary journey into the world of Italian cuisine enjoyable and convenient!</p>

							<p><a href="{% url 'shop:shop' %}" class="btn btn-primary">Shop now</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <span>On order over $100</span>
              </div>
            </div>      
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Always Fresh</h3>
                <span>Product well package</span>
              </div>
            </div>    
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Superior Quality</h3>
                <span>Quality Products</span>
              </div>
            </div>      
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
    {% endblock %}
