{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'store/images/22.jpg' %}');"
     xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home:index' %}">Home</a></span> <span>Privacy Policy</span></p>
            <h1 class="mb-0 bread">Privacy Policy</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <img src="{% static 'store/images/about1.jpg'%}" alt="About Image" style="height: 87%;">
</div>

					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h4 class="mb-4">Privacy Policy</h4>
	            </div>
	          </div>
	          <div class="pb-md-5">
                  <p>We adhere to high standards of privacy and protection of your personal data. This Privacy Policy explains what information we
                     collect, how we use it, and the security measures we take to safeguard your privacy.</p>
	          	<p><h5> Collected Information:</h5>
                     <p>Personal Information: When placing an order, we may collect your name, address, email address, and phone number.
                     Payment Information: To process payments, we may request credit card or other payment method details.
                     Website Visit Information: We may collect information about your interaction with our website, including IP address, browser type,
                     dates, and times of access.</p>

                  <p><h5>Use of Information:</h5>
                     <p>Order Processing: We use the collected data to process and deliver your orders, as well as to communicate with you regarding your order.
                     Service Improvement: We may use the information to analyze and improve our services and products, as well as to personalize your
                     experience on our website. Marketing Communication: We may use your email address to send newsletters, promotions, and special offers,
                     but only if you have consented to receive such messages.</p>

                  <p><h5>Disclosure of Information:</h5>
                     <p>We do not sell, trade, or transfer your personal information to third parties, except as required by law or stated in this Privacy Policy.
                     We may disclose information to third-party service providers who assist us in processing orders, delivering services, or conducting our business.</p>

                <p>While we strive to protect your privacy, no method of data transmission over the Internet or electronic storage is entirely secure.
                   Therefore, we cannot guarantee the absolute security of information.</p>

							<p><a href="{% url 'shop:shop' %}" class="btn btn-primary">Shop now</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <span>On order over $100</span>
              </div>
            </div>      
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Always Fresh</h3>
                <span>Product well package</span>
              </div>
            </div>    
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Superior Quality</h3>
                <span>Quality Products</span>
              </div>
            </div>      
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
    {% endblock %}
