{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'store/images/22.jpg' %}');"
     xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home:index' %}">Home</a></span> <span>Terms &amp; Conditions</span></p>
            <h1 class="mb-0 bread">Terms &amp; Conditions</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <img src="{% static 'store/images/about1.jpg'%}" alt="About Image" style="height: 87%;">
</div>

					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h4 class="mb-4">Terms & Conditions.</h4>
	            </div>
	          </div>
	          <div class="pb-md-5">
                  <p>These terms and conditions outline the rules and regulations for the use of our delivery service for Italian food.
                     By accessing or using our website, you agree to comply with these terms and conditions.
                     Please read them carefully before placing an order.</p>
                  <p><h5> Ordering and Delivery:</h5>
                  <p>You must be at least 18 years old to place an order on our website.
                     Orders are subject to availability. We reserve the right to refuse or cancel any order at our discretion.
                     Delivery times may vary depending on your location and order volume. We will make every effort to deliver your order
                     within the estimated time frame.</p>
                  <p><h5>Product Information:</h5>
                  <p>We make every effort to provide accurate and up-to-date product information on our website. However, we cannot guarantee
                     the accuracy or completeness of the information. The images of the products on our website are for illustrative purposes only.
                     The actual products delivered may vary in appearance.</p>
                  <p><h5>Governing Law:</h5>
                  <p>These terms and conditions are governed by and construed in accordance with the laws of (Jurisdiction). Any disputes arising
                     from these terms shall be subject to the exclusive jurisdiction of the courts in (Jurisdiction).</p>

                  <p>For any questions or clarifications regarding our terms and conditions, please contact our customer support.</p>

							<p><a href="{% url 'shop:shop' %}" class="btn btn-primary">Shop now</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <span>On order over $100</span>
              </div>
            </div>      
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Always Fresh</h3>
                <span>Product well package</span>
              </div>
            </div>    
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Superior Quality</h3>
                <span>Quality Products</span>
              </div>
            </div>      
          </div>
          <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
    {% endblock %}
